<div class="row">
    <div class="col-xl-12">
        <img class="img-fluid img-thumbnail" [src]="recipe.imagePath" [alt]="recipe.name" width="250" height="250" appZoom>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h1>{{ recipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group" appDropdown>
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" aria-expanded="false">
                    Manage
                </button>
                <div class="dropdown-menu show" aria-labelledby="btnGroupDrop1">
                    <a (click)="onAddToShoppingList()"  class="dropdown-item" style="cursor: pointer;">To Shopping List</a>
                    <a class="dropdown-item" style="cursor: pointer;"
                    (click)="onEditRecipe()">Edit Recipe</a>
                    <a class="dropdown-item" style="cursor: pointer;">Manage Recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>