<a 
style="cursor: pointer;"
class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
[routerLink]="index" routerLinkActive="active">
    <div>
            <h4 class="list-group-item-heading">
                {{ recipe.name }}
            </h4>
            <p class="list-group-item-text">
                {{ recipe.description }}
            </p>
    </div>
        <span>
            <img [src]="recipe.imagePath" alt="{{recipe.name}}" style="max-height: 75px;">
        </span>
</a>